﻿@*@using CCMS.Web.Data;
@using CCMS.Web.Application.HtmlHelpers;
@using System.Web.Optimization*@
@model CCMS.Web.Application.Areas.Admin.Models.ImportContractsVM
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <link rel="stylesheet" href="~/Content/toastr.css">
    @Html.DevExpress().GetStyleSheets(
                new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
            )
    @Html.DevExpress().GetScripts(
                new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                new Script { ExtensionSuite = ExtensionSuite.GridView }
            )

</head>

<div class="row">
    <div class="col-md-12">
        <div id="divContractsImportForm col-md-6">
            @using (Html.BeginForm("GetContracts", "Contract", FormMethod.Post, new { id = "frmContractImport", area = "Admin", @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       
                <div class="divHeader">
                    <div class="row">
                        <div class="col-md-12"> Please use the below filters to fetch contract records from Pre Construction</div>
                    </div>
                </div>
                <div class="divBody">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                @*@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label  col-md-6" })
                                @Html.DevExpress().DateEdit(settings => {
                               settings.Name = "StartDate";
                               settings.Properties.NullText = "MM/dd/yyyy";
                               settings.Properties.EditFormat = EditFormat.Custom;
                               settings.Properties.EditFormatString = "MM/dd/yyyy";
                               //settings.Properties.ClientSideEvents.DateChanged = "StartDateChanged";
                               settings.Width = 100;
                               //settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                           }).GetHtml()
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-4">
                                @*@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label  col-md-1" })
                                @Html.DevExpress().DateEdit(settings => {
                               settings.Name = "EndDate";
                               settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                               settings.Properties.NullText = "MM/dd/yyyy";
                               settings.Properties.EditFormat = EditFormat.Custom;
                               settings.Properties.EditFormatString = "MM/dd/yyyy";
                               //settings.Properties.ClientSideEvents.DateChanged = "EndDateChanged";
                               settings.Properties.MaxDate = DateTime.Today;
                               settings.Date = DateTime.Today;
                               settings.Width = 100;
                              // settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                           }).GetHtml()
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  text-center">
                            -----------(OR)-----------
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.ContractNumber, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class=" col-md-6">
                                    @Html.EditorFor(model => model.ContractNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ContractNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" id="btnGetContracts" value="Get Contracts" class="btn btn-default" />
                                <input type="button" id="btnResetImportContracts" value="Reset" class="btn btn-default" />
                                <input type="button" value="Close" class="btn btn-default" data-dismiss="modal" aria-label="Close" />
                            </div>
                        </div>
                    </div>
                </div>
            }
            <br />
            <br />
            <div class="row">
                <div id="divNotImportedContracts" class="col-md-12">

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="divImportedContractsStatus" class="col-md-12" style="display:none;">
        <h3>Import Contracts Result</h3>
        <hr />
        <br />
        <div id="divImportedContractsMessage">

        </div>
        <br />
        <br />
        <input type="button" id="btnBack" value="Back" class="btn btn-default" />
        <input type="button" id="btnGotoContracts" value="Go to Contracts" class="btn btn-default" />
    </div>
</div>
<style type="text/css">
    .divHeader {
        color: #201f35;
        background-color: #ebecef;
        border-bottom: 1px solid #cacbd3 !important;
        padding: 5px 10px 0px 10px;
    }

    .divBody {
        border: 1px solid #cacbd3;
        background-color: #f2f3f4;
        overflow: hidden;
        padding: 10px;
    }
</style>

<script type="text/javascript">
    function StartDateChanged() {
        DisableContractNumberControl();
    }

    function EndDateChanged() {
        DisableContractNumberControl();
    }

    function DisableContractNumberControl() {

        if (($.trim($("#StartDate_I").val()).length >= 0) || ($.trim($("#EndDate_I").val()).length >= 0)) {
            $("#ContractNumber_I").attr('disabled', 'disabled');
            $("#ContractNumber_I").val('');
        }
    }

    function GetContracts() {        
        $("#divNotImportedContracts").html('');
        $("#divNotImportedContracts").html('Processing...');
        //Loader-Delete
        //$("#loader").show();

        $("#divImportedContractsMessage").html('');
        $("#divImportedContractsStatus").hide();
        var formData = $("#frmContractImport").serialize();
            var url = '@Url.Action("GetContracts", "Contract", new { area = "Admin"})';
            $.ajax({
                'type': "POST",
                //'data': 'json',
                'url': url,
                data: formData,
                'success': function (content) {                   
                    $("#divNotImportedContracts").html('');
                    $("#divNotImportedContracts").html(content);
                    $("#divNotImportedContracts").show();
                }, error: function (response) {
                    //alert(response.responseText);
                    //alert(r);
                    //alert("Message: " + r.Message);
                    //alert("StackTrace: " + r.StackTrace);
                    //alert("ExceptionType: " + r.ExceptionType);
                    $("#divNotImportedContracts").html(response.responseText);
                }
            });
    }

    $(document).ready(function () {

        $('#btnResetImportContracts').click(function () {
            //$(':input', '#frmContractImport')
            //    .not(':button, :submit, :reset, :hidden, :select')
            //    .val('')
            //    .removeAttr('checked')
            //    .removeAttr('selected')
            //    .removeAttr('disabled');
            $("#StartDate_I").removeAttr('disabled');
            $("#EndDate_I").removeAttr('disabled');
            $("#StartDate_B-1Img").removeAttr('disabled');
            $("#EndDate_B-1Img").removeAttr('disabled');
            $("#ContractNumber_I").removeAttr('disabled');
            $('#frmContractImport').trigger("reset");
            $("#divNotImportedContracts").html('');
            $("#divNotImportedContracts").hide();
            $("#divImportedContractsMessage").html('');
            $("#divImportedContractsStatus").hide();
        });



        $("#StartDate_I").change(function () {
            DisableContractNumberControl();
        });

        $("#EndDate_I").change(function () {
            DisableContractNumberControl();
        });

        $("#ContractNumber_I").change(function () {
            $("#StartDate_I").attr('disabled', 'disabled');
            $("#EndDate_I").attr('disabled', 'disabled');
            $("#StartDate_I").val('');
            $("#EndDate_I").val('');
            $("#StartDate_B-1Img").attr('disabled', 'disabled');
            $("#EndDate_B-1Img").attr('disabled', 'disabled');

            if ($.trim($("#ContractNumber_I").val()).length <= 0) {
                $("#StartDate_I").removeAttr('disabled');
                $("#EndDate_I").removeAttr('disabled');
                $("#StartDate_B-1Img").removeAttr('disabled');
                $("#EndDate_B-1Img").removeAttr('disabled');
            }

        });

        $("#btnGetContracts").click(function (event) {
           
            event.preventDefault();
           
            GetContracts();

        });
        $("#btnBack").click(function (event) {
            event.preventDefault();
            GetContracts();

        });
        $("#btnGotoContracts").click(function (event) {
            event.preventDefault();
            
            var redirectUrl = '@Url.Action("Index", "Contract", new { area = "Admin"})';
            window.location.href = redirectUrl;

        });
    });
</script>
