﻿@model IEnumerable<CCMS.Web.Application.Areas.Admin.Models.NotImportedContractsVM>

<div class="row">
    <div class="col-md-6">
        <h4>Results</h4>
    </div>
    <div class="col-md-6">
        <select id="ddlFilterResults" class="form-control pull-right" style="width:50%">
            <option value="">-All-</option>
            <option value="Contracts_Not_Imported">Not Imported to eMCMS</option>
            <option value="Contracts_Imported" class="importedContracts">Imported to eMCMS</option>
        </select>
        <label class="pull-right">Contracts Filter:&nbsp;&nbsp;</label>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12" style="padding-top:5px">
        @using (Html.BeginForm("InsertContracts", "Contract", FormMethod.Post, new { id = "frmNotImportedContracts", area = "Admin" }))
        {
            <table id="tblNotImportedContracts" class="table table-striped table-bordered dt-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContractNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.AwardedDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;}
                    @foreach (var item in Model)
                    {
                        if (!item.IsExistingRecord)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" id="chkContractId_@i" name="SelectedContracts" value="@item.ContractId" class="chkContractId" />
                                    <span style="display:none">Contracts_Not_Imported</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContractNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.AwardedDate)
                                </td>
                            </tr>

                        }
                        else
                        {
                            <tr class="importedContracts">
                                <td>
                                    <input type="checkbox" value="@item.ContractId" disabled="disabled" style="cursor:not-allowed" />
                                    <span style="display:none">Contracts_Imported</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContractNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.AwardedDate)
                                </td>
                            </tr>

                        }
                        i++;
                    }
                </tbody>

            </table>

        }

    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <input type="submit" id="btnInsertContracts" value="Import Selected Contracts" class="btn btn-default text-center" />
        <input type="button" id="btnResetSelection" value="Reset Selection" class="btn btn-default text-center" />
    </div>
</div>
<style type="text/css">
    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }
    /*.dataTables_processing {
            top: -225px !important;
            height: 200px;
            position: relative;
            z-index: 11000 !important;
            opacity: .50;
        }*/

    #tblNotImportedContracts_paginate {
        float: right;
        margin-top: -20px;
    }

    .important {
        background-color: gray;
    }

    .importedContracts {
        background-color: #DCDCDC !important;
        color: gray !important;
    }

    .divBackground {
        color: #201f35;
        background-color: #ebecef;
        border-bottom: 1px solid #cacbd3;
    }

    .divSearch {
        border: 1px solid #cacbd3;
        background-color: #f2f3f4;
        overflow: hidden;
    }
</style>

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.select.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
<link href="~/Content/DataTables/css/select.dataTables.min.css">

<script type="text/javascript">
    $(document).ready(function () {

            var oTable = $('#tblNotImportedContracts').DataTable({
                "lengthMenu": [[5, 25, 50, 100, -1], [5, 25, 50, 100, "All"]],
                select: true,               
            ////columnDefs: [{
            ////    orderable: false,
            ////    className: 'select-checkbox',
            ////    data: null,
            ////    defaultContent: '',
            ////    targets: 0
            ////}],

            select: {
                style: 'multi',
                selector: 'td:first-child'/*Added this selector code-test if needed.*/
            },
            //"createdRow": function (row, data, dataIndex) {
            //    if (data[5] == "true") {
            //        $(row).addClass('important');
            //    }
            //},
            "bProcessing": true,
            "order": [[3, "asc"]]/*Added the ,language{}*/
            ////"language": {
            ////        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading..n.</span> '
            ////}

            //"columnDefs": [
            //    {
            //        "targets": [1],
            //        "visible": false,
            //        "searchable": false
            //    },
            //    {
            //        "targets": [2],
            //        "visible": false
            //    },
            //]
        });

        $('#ddlFilterResults').change(function () {
            oTable.search($(this).val()).draw();
        });

        $("#btnResetSelection").click(function (event) {
            oTable.$('input').removeAttr('checked');
        });

        $('#tblNotImportedContracts').on('click', 'input[type="checkbox"]', function (e, dt, type, indexes) {
            var allPages = oTable.rows().nodes();
            var cnt =$("input[type=checkbox]:checked", allPages).length;
            if (cnt > 5) {
                toastr.error("You can select only five (5) contracts at a time");
                $(this).prop('checked', false);
            }
            var $row = $(this).closest('tr');
            if (this.checked) {
                $row.addClass('selected');
            } else {
                $row.removeClass('selected');
            }
            e.stopPropagation();            
        });

        oTable.on('user-select', function (e, dt, type, cell, originalEvent) {            
          e.preventDefault();            
        });


        $("#btnInsertContracts").click(function (event) {
            event.preventDefault();

            $("#tblNotImportedContracts_processing").show();
            var chkArray = [];


            $('.chkContractId:checked').each(function () {
                alert("Checked value to push!");
                chkArray.push($(this).val());
            });

            /* we join the array separated by the comma */
            var selected;
            selected = chkArray.join(',');

         // Limit 5 checkboxes selection. User to be restricted no more checkbox selection after 5 selections
         ////   oTable.on('select', function (e, dt, type, indexes) {/*table*/
         ////       alert('testNow1');
         ////       var data = oTable.rows({ selected: true }).data();
         ////       var cnt = 0;
         ////       data.each(function (value, index) {
         ////           cnt++;
         ////       });
         ////       alert(cnt);
         ////       if (cnt > 5) {
         ////           toastr.error("You can select only five (5) contracts at a time");
         ////       if (type === 'row') {
         ////           alert('row limit: testNow2');
         ////           var rw = oTable.rows(indexes);
         ////           oTable.row(rw, { page: 'current' }).deselect();
         ////       }
         ////   }
         ////});
         //End of test code
            /* check if there is selected checkboxes, by default the length is 1 as it contains one single comma */

            if (chkArray.length > 0 && chkArray.length <= 5) {

                   var formData = $("#frmNotImportedContracts").serialize();
                        var url = '@Url.Action("InsertContracts", "Contract", new { area = "Admin", contracts ="test"})';
                        url = url.replace("test", selected);
                        $.ajax({
                            'type': "POST",
                            'url': url,
                            data: formData,
                            contentType: 'json',
                            'success': function (data) {
                                if (data.success) {
                                    $("#divNotImportedContracts").hide();
                                    $("#divImportedContractsStatus").show();
                                    $("#divImportedContractsMessage").html(data.ImportedStatus);

                                    $("#tblNotImportedContracts_processing").hide();

                                }
                            },
                             error: function (response) {
                                alert("error!");
                            }
                    });

            } else {

                if (chkArray.length == 0) {
                    alert("Please select at least one contract to import");
                }
                else {
                    if (chkArray.length > 5)
                        alert("Please select only 5 contracts");
                    //alert('testNow0');

                    $("#tblNotImportedContracts_processing").hide();
                     // Limit 5 checkboxes selection. User to be restricted no more checkbox selection after 5 selections
                    oTable.on('select', function (e, dt, type, indexes) {
                        alert('testNow1');
                        var data = oTable.rows({ selected: true }).data();
                        var cnt = 0;
                        data.each(function (value, index) {
                            cnt++;
                        });
                        alert(cnt);
                        if (cnt > 5) {
                            toastr.error("You can select only five (5) contracts at a time");
                            if (type === 'row') {
                                alert('row type: testNow2');
                                var rw = oTable.rows(indexes);
                                oTable.row(rw, { page: 'current' }).deselect();
                            }
                        }
                    });

                }
            }

        });

    });
</script>
